<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  Confirm your pediction!

  <div data-id="<%= bet._id %>">
    <h1> You bet on the <%= bet.team %></h1
    <h3>The charity you are supporing is <%= bet.charity %></h3>
    <h3>The amount of the bet is $<%= bet.amount %></h3>
  </div>
  <!-- //this works like a pass-though for form data. key: type hidden -->
  <form method="POST" action="/confirmBet">
    <input type="hidden" name="email" value="<%= bet.email %>">
    <input type="hidden" name="gameId" value="<%= bet.gameId %>">
    <input type="hidden" name="charity" value="<%= bet.charity %>">
    <input type="hidden" name="team" value="<%= bet.team %>">
    <input type="hidden" name="amount" value="<%= bet.amount %>">
  <input class="submit" type='submit'>
</form>

</body>
</html>
