<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

 <!-- set viewport to device width to make site responsive -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- bootstrap css -->
 <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <!-- custom styles -->
 <link rel="stylesheet" type="text/css" href="/styles/style.css">

 <!-- jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

 <!-- bootstrap js -->
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <!-- custom script -->
 <script type="text/javascript" src="/scripts/app.js"></script>

 <title>betoncharity</title>
</head>
<body>


  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="well">
          <div class="container">
            <div class="page-header">
              <h1>Predict the winner <small>support a charity</small></h1>
            </div>
            <h1 class="">NCAAMB</h1>
          </div>
        </div>



        <!-- list of games -->
        <ul class="list-group" id="games-list">

          <% for (let game of games) { %>
              <li class="list-group-item game" data-id="<%= game._id %>">

                <!-- game label (title) -->
                <!-- <a href="/games/<%= game._id %>" class="games label label-default"><%= game.title %></a> -->

                <div class="versus">

                  <article class="textcentered">
                    <p><%= game.team1 %></p>
                    <!-- icon to toggle update form -->
                  </article>
                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-<%= game._id %>">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                  </a>

                <div class="amount-charity">
                  <h1>VS.</h1>

                  <form method="POST" action="/confirmBet">
                      <input type="number" name="amount" value="1" min="1" required>
                      <span class="validity"></span>
                      <select name="charitiy" class="charity_category">
                          <option value="Homless">Homless</option>
                          <option value="Animals">Animals</option>
                          <option value="Prevention">Prevention</option>
                      </select>
                      <input type='submit'name ='charity'>
                  </form>

                </div>

                <article class="textcentered">
                  <p><%= game.team2 %></p>
                  <!-- icon to toggle update form -->
                </article>
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-<%= game._id %>">
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </a>



              </div>



                <!-- <%= game._id %> -->
              </li>
            <% } %>
        </ul>
      <!-- </div> -->
    </div>
  </div>
</body>
</html>
