<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

 <!-- set viewport to device width to make site responsive -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- bootstrap css -->
 <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <!-- custom styles -->
 <link rel="stylesheet" type="text/css" href="/styles/style.css">

 <!-- jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

 <!-- bootstrap js -->
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <!-- custom script -->
 <script type="text/javascript" src="/scripts/app.js"></script>

 <!-- <title>haha</title> -->
 <!-- Stylesheets -->
 <link rel="stylesheet" href="css/style.css">
 <!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->

 <!-- Google Fonts -->
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <!-- Start Tab Lorem -->
          <div class="tab-pane fade" id="lorem">

            <!-- Start Result -->
            <div class="result col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Latest Result</h4>
              <div class="team">
                <figure>
                  <img src="img/team1.jpg" alt="" class="team-background">
                  <img src="img/team1-logo.png" alt="" class="team-logo">
                  <figcaption>
                    FC Lorem
                  </figcaption>
                </figure>
              </div>
              <div class="match-details">
                <header class="match-name"><h5>Match 4</h5></header>
                <div class="score">
                  <span class="color">3</span>
                  <span>:</span>
                  <span>1</span>
                </div>
                <footer class="schedule">
                  <span class="team-name">Sao Paolo</span>
                  <span class="time">30 May 23:00</span>
                </footer>
              </div>
              <div class="team">
                <figure>
                  <img src="img/team2.jpg" alt="" class="team-background">
                  <img src="img/team2-logo.png" alt="" class="team-logo">
                  <figcaption>
                    AFC Ipsum
                  </figcaption>
                </figure>
              </div>
            </div>
            <!-- End Result -->

            <!-- Start Upcoming -->
            <div class="upcoming col-lg-6 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 clearfix">
              <h4 class="border">Upcoming Matches</h4>
              <ul class="matches custom-list">
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming.png" alt=""><span>AFC Consequat</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta FC</span>
                    <img src="img/team-upcoming2.png" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming3.png" alt=""><span>Andrea FC</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta United</span>
                    <img src="img/team-upcoming4.png" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming5.png" alt=""><span>Xavier United</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Altair FC</span>
                    <img src="img/team-upcoming6.png" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming7.png" alt=""><span>Azkalz FC</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Juggernaut</span>
                    <img src="img/team-upcoming8.png" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming3.png" alt=""><span>Andrea FC</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Magenta United</span>
                    <img src="img/team-upcoming4.png" alt="">
                  </div>
                </li>
                <li class="match">
                  <div class="team text-left">
                    <img src="img/team-upcoming5.png" alt=""><span>Xavier United</span>
                  </div>
                  <div class="schedule">
                    <span class="team-name">Sao Paolo</span>
                    <span class="time">30 May 23:00</span>
                  </div>
                  <div class="team right text-right">
                    <span>Altair FC</span>
                    <img src="img/team-upcoming6.png" alt="">
                  </div>
                </li>
              </ul>
              <a class="button text-left prev"><i class="fa fa-angle-left"></i><span>Previous</span></a>
              <div class="match-week">
                <div class="datepicker-inner" data-date="12/03/2012">Week <span class="count">7</span><i class="fa fa-angle-down"></i></div>
              </div>
              <a class="button text-right next"><span>Next</span><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- End Upcoming -->

          </div>
          <!-- End Tab Lorem -->

        <div>
          <% if(!user) { %>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
          <% } else { %>
            <div style="display: none;">Welcome, <%= user.username %>!</div>
            <div>Welcome, <%= user.firstname %>!</div>
            <a href="/logout">Log out</a>
          <% } %>
          </div>
          <hr>
        <!-- list of games -->
        <ul class="list-group" id="games-list">

          <% for (let game of games) { %>
              <li class="list-group-item game" data-id="<%= game._id %>">
                <div class="versus">
                  <article class="textcentered">
                    <p><%= game.gameAwayTeam %></p>
                  </article>
                    <h1 class="vs">VS.</h1>
                <article class="textcentered">
                  <p><%= game.gameHomeTeam %></p>
                </article>

              </div>

              <div class="amount-charity">


                <form method="POST" action="/">
                    <span class="currencyinput">$</span><input type="number" name="amount" value="1" min="1" required placeholder"bet amount">
                    <span class="validity"></span>
                    <select name="charity" class="charity_category">
                        <option value="Homeless">Homeless</option>
                        <option value="Animals">Animals</option>
                        <option value="Prevention">Prevention</option>
                    </select>
                    <select name="team" class="team-selector">
                      <!-- //https://stackoverflow.com/questions/8605516/default-select-option-as-blank -->
                        <option disabled selected value> -- select a team -- </option>
                        <option value="<%= game.gameAwayTeam %>"><%= game.gameAwayTeam %></option>
                        <option value="<%= game.gameHomeTeam %>"><%= game.gameHomeTeam %></option>
                    </select>


                    <input type="hidden" name="gameId" value=<%= game._id %>>
                    <input class="submit" type='submit'>
                </form>

              </div>

              <%= game._id %>

              </li>
            <% } %>
        </ul>
      <!-- </div> -->
    </div>
  </div>





</body>
</html>
